.my-menu-trigger.amplify-menu-trigger {
    border-color: var(--amplify-colors-secondary-90);
    color: var(--amplify-colors-secondary-90);
  }
  .my-menu-content .amplify-menu-content__item {
    color: var(--amplify-colors-secondary-90);
  }
  .my-menu-content .amplify-menu-content__item:hover {
    background-color: var(--amplify-colors-secondary-90);
  }

  .navigationWrapper {
    padding:16px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
  }

  .navigationMenu {
    overflow: visible;
    display: inline-block;

  }
  .div-wrapper {
    color: white;
    display: inline-block;
  }

  .header-price {
    color: steelblue;
    text-align: right;
    font-family: Arial;
    top: 0;
    right: 0;
    position: absolute;
    padding:5vw;
    text-shadow: 0 0 8px steelblue;
  }